.DS_Store
PyTorchNamesClassifier/.ipynb_checkpoints/
PyTorch60MinuteBlitz/.DS_Store
AuthorClassifier/zzz.csv
AuthorClassifier/texts/F. Scott Fitzgerald/.DS_Store
AuthorClassifier/.ipynb_checkpoints/
HuggingFaceTextClassifier/.idea/*
HuggingFaceTextClassifier/.ipynb_checkpoints/*
AuthorClassifier/.DS_Store
AuthorClassifier/texts/.DS_Store
PyTorchNamesClassifier/.idea/*
AuthorClassifier/.idea/*
PyTorch60MinuteBlitz/.idea/*
